flows.json
[{"id":"70e42add.d6cfa4","type":"tab","label":"PREDICTING LIFE EXPECTANCY","disabled":false,"info":""},{"id":"def81e21.1ccb9","type":"debug","z":"70e42add.d6cfa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":480,"wires":[]},{"id":"2ad6a2c1.eeab9e","type":"function","z":"70e42add.d6cfa4","name":"PRE TOKEN","func":"//MAKING USEER GIVEN VALUE AS GLOBAL VARIABLE\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\nvar apikey=\"qEvtwgzxXbS5IWczgAjTsZHrWac_mjRYMcYvujXCmb2A\";\nmsg.headers={\"Content-Type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey,\"dip\":msg.payload.dip,\"dip\":msg.payload.dip}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":200,"wires":[["4e6a2de0.eea784"]]},{"id":"4e6a2de0.eea784","type":"http request","z":"70e42add.d6cfa4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":470,"y":120,"wires":[["bbe67332.d9e4a"]]},{"id":"bbe67332.d9e4a","type":"function","z":"70e42add.d6cfa4","name":"send to endpoint","func":"var token=msg.payload.access_token;\nvar instance_id=\"510ed7fd-3117-47eb-9954-f34c415bfb90\"\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"ML-Instance\": instance_id};\n\nvar a= global.get(\"a\")\nvar b= global.get(\"b\")\nvar c= global.get(\"c\")\nvar d= global.get(\"d\")\nvar e= global.get(\"e\")\nvar f= global.get(\"f\")\nvar g= global.get(\"g\")\nvar h= global.get(\"h\")\nvar i= global.get(\"i\")\nvar j= global.get(\"j\")\nvar k= global.get(\"k\")\nvar l= global.get(\"l\")\nvar m= global.get(\"m\")\nvar n= global.get(\"n\")\nvar o= global.get(\"o\")\nvar p= global.get(\"p\")\nvar q= global.get(\"q\")\nvar r= global.get(\"r\")\nvar s= global.get(\"s\")\nvar t= global.get(\"t\")\nmsg.payload=\n{files:['Adult Mortality','infant deaths','Alcohol','percentage expenditure','Hepatitis B','Measles'\t,'BMI'\t,'under-five deaths'\t,'Polio'\t,'Total expenditure'\t,'Diphtheria','HIV/AIDS','GDP','Population','thinness 1-19 years','thinness 5-9 years','Income composition of resources','Schooling','Developed','Developing'],\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":200,"wires":[["86ce9fb0.d6771"]]},{"id":"d2d64fe1.1af7c","type":"function","z":"70e42add.d6cfa4","name":"getfromendpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":420,"wires":[["69e91e39.6de02","def81e21.1ccb9"]]},{"id":"d212dbb7.da94c8","type":"ui_form","z":"70e42add.d6cfa4","name":"","label":"","group":"26e5c11d.20c5de","order":1,"width":0,"height":0,"options":[{"label":"Adult Mortality","value":"a","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"number","required":true,"rows":null},{"label":"Percentage Expectancy","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"e","type":"number","required":true,"rows":null},{"label":"Measies","value":"f","type":"number","required":true,"rows":null},{"label":"BMI","value":"g","type":"number","required":true,"rows":null},{"label":"Under-Five Deaths","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"k","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":"Thinness 1-19 years","value":"o","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"p","type":"number","required":true,"rows":null},{"label":"Income Compositio","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null},{"label":"Developed","value":"s","type":"number","required":true,"rows":null},{"label":"Developing","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"PREDICT","cancel":"CANCEL","topic":"","x":90,"y":160,"wires":[["2ad6a2c1.eeab9e"]]},{"id":"86ce9fb0.d6771","type":"http request","z":"70e42add.d6cfa4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/510ed7fd-3117-47eb-9954-f34c415bfb90/deployments/5dda29e8-d50b-4bdd-bfb5-4a8178560286/online","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":320,"wires":[["d2d64fe1.1af7c"]]},{"id":"69e91e39.6de02","type":"ui_text","z":"70e42add.d6cfa4","group":"26e5c11d.20c5de","order":2,"width":0,"height":0,"name":"","label":"PREDICTION","format":"{{msg.payload}}","layout":"row-left","x":900,"y":340,"wires":[]},{"id":"26e5c11d.20c5de","type":"ui_group","z":"","name":"Predicitng Life Expectancy","tab":"1929f4b4.f554bb","order":1,"disp":true,"width":"9","collapse":false},{"id":"1929f4b4.f554bb","type":"ui_tab","z":"","name":"LIFE EXPECTANCY","icon":"dashboard","disabled":false,"hidden":false}]